.landing__title-parent{
    text-align: center;
}

.logo{
    width: 23%;
}
.landing__title {
    /* text-align: center; */
    font-size: 6rem;
    /* margin-top: 1rem; */
    font-family: 'Bangers', cursive;
    font-family: 'Passions Conflict', cursive;
    /* order: 1; */
}

.landing__subtitle{
    text-align: center;
    font-size: large;
}

.nav{
    display: flex;
    justify-content: center;
    
}

.nav__item-parent{
    display: inline-block;
    
}

.nav__item{
    display: inline-block;
    font-size: 1.2rem;
    font-family: 'Cormorant SC', serif;
}

.nav__divider{
    display: inline-block;
    margin: .5rem;
}

.nav__item-parent-last{
    display: flex;
    align-self: center;
    margin-top: .2rem;
    font-size: 1.2rem;
    font-family: 'Cormorant SC', serif;
}

.nav__mobile-open{
    display: none;
}

.nav__mobile-closed {
    display: none;
}

.nav__mobile-expand-button{
    display: none;
}

@media (max-width: 45rem) {
    .nav {
        display: none;
    }
    .landing__title-parent{
        display: flex;
        flex-direction: column;
    }
    .landing__title{
        margin-top: 1rem;
        font-size: 30px;
    }
    .landing__subtitle {
        font-size: 15px;
    }
 
}

.title_divider {
    border: 0;
    clear: both;
    display: block;
    margin: 2.4rem auto;
    text-align: center;
    width: 100%;
    
}
