
.landing__title {
    text-align: center;
    font-size: 50px;
    margin-top: 2rem;
}

.landing__subtitle{
    text-align: center;
}

.nav{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.nav__item-parent{
    display: inline-block;
}

.nav__item{
    display: inline-block;
}

.nav__divider{
    display: inline-block;
   margin: .5rem;
}

.nav__item-parent-last{
    display: flex;
    align-self: center;
    margin-top: .2rem;
}

.nav__mobile-open{
    display: none;
}

.nav__mobile-closed {
    display: none;
}

.nav__mobile-expand-button{
    display: none;
}

@media (max-width: 45rem) {
    .nav {
        display: none;
    }
    .landing__title-parent{
        display: flex;
        flex-direction: column;
    }
    .landing__title{
        margin-top: 1rem;
        font-size: 30px;
    }
    .landing__subtitle {
        font-size: 15px;
    }
}

.title_divider {
    border-top: 1px;
}
