
.landing__title {
    text-align: center;
    font-size: 50px;
}

.landing__subtitle{
    text-align: center;
}

.nav{
    display: flex;
    justify-content: center;
    margin-top: 1rem;

}

.nav__item-parent{
    display: inline-block;
}

.nav__item{
    display: inline-block;
}

.nav__divider{
    display: inline-block;
   margin: .5rem;
}

.nav__item-parent-last{
    display: flex;
    align-self: center;
    margin-top: .2rem;
}

.nav__mobile {
    display: none;
}

@media (max-width: 45rem) {
    .nav{
        display: none;
    }
    .nav__mobile {
        display: block;
    }
    .nav__mobile-item{
        
      
    }
}

/* .nav__item-last{
    align-self: center;
    margin-top: .2rem;
} */