@media (max-width: 45rem) {
    .nav__mobile-container{
        position: sticky;
        
    }
    .nav__mobile-expand-button {
        display: inline;
        position: inherit;
        top: 0;
    }
    .nav__mobile-open {
        display: flex;
        flex-direction: column;
        position: inherit;
        margin-top: 3rem;
    }
    .nav__mobile-closed {
        display: none;
    }
}