.concierge{
    /* height: 500px; */
    /* margin-top: 5rem; */
    position: relative;
   
}

.concierge__content{
    max-width: 1280px;
    margin: 0 auto;
}

.paintSwatch1{
    width: 68%;
    position: absolute;
    top: -3rem;
    left: 4rem;
    z-index: 1;
    transform: rotate(90deg);
}

.concierge__title-box1{
    width: 80%;
    position: relative;
    z-index: 3;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0,0,0,0);
    color: #a98b70;
    margin-top: 0rem;
    padding-top: 1.5rem;
    /* margin-bottom: 1rem; */
    font-family: 'Cormorant SC';
}

.concierge__title1{
    background-color: rgba(0,0,0,0);
    font-size: 1rem;
    text-align: left;
    margin-bottom: -1rem;
    text-align: center;
}
.concierge__title2{
    background-color: rgba(0,0,0,0);
    font-size: 3.5rem;
    /* text-align: left; */
}
.concierge__title3{
    background-color: rgba(0,0,0,0);
    margin-top: -2rem;
    font-size: 3.5rem;
    /* text-align: left; */
}

/* .ConciergeMainPhoto{
    width: 100%;
    z-index: 5;
} */

.concierge__text-container{
    background-color: rgba(0,0,0,0);
    text-align: center;
    color: #a98b70;
    font-family: 'Gilda Display', serif;
    font-style: normal;
    font-weight: 300;
    padding-top: 8rem; 
}
.concierge__text-container > div {
        background-color: rgba(0,0,0,0);
         
}

.concierge__text-p1{
    padding: 0rem;
    background-color: rgba(0,0,0,0);
 } 
.concierge__text-p2{
    background-color: rgba(0,0,0,0);
    padding: 1rem 0rem;
}
.concierge__text-p3, 
.concierge__text-p4, 
.concierge__text-p5, 
.concierge__text-p5,
.concierge__text-p6 {
    padding-bottom: 1rem;
    background-color: rgba(0,0,0,0);
}







.concierge::before{
    content: '';
    position: absolute;
    background: 0rem 1rem / cover no-repeat url(/src/assets/BlackAndWhiteAlishaHelpsBrideCropped.jpg);
    top: 0rem;
    right: 0px;
    bottom: 0rem;
    left: 0px;
    opacity: 0.1;
}

/* .concierge__content_photos-container{
    max-width: 50%;
    margin: 0 auto;
} */


.alishaholdingdress{
    display: inline-block;
    width: 50%;
    border-radius: 14rem 14rem 0rem 0rem;
    z-index: 1;
    position: relative;
    left: 2rem;
    top: 6rem;
}
.alishafixeshair{
    display: inline-block;
    width: 50%;
    border-radius: 14rem 14rem 0rem 0rem;
    z-index: 0;
    right: 2rem;
    bottom: 0rem;
    position: relative;
}


@media (min-width: 40rem){
    .concierge{
        padding-bottom: 4rem;
        }

        .concierge::before{
            
        }

        .concierge__text-container {
            padding: 7rem 1rem 1rem 1rem;
        }


        .concierge__content_photos-container{
            max-width: 75%;
            margin: 0 auto;
        }


}

@media (min-width: 60rem){
    .concierge{
    /* padding-bottom: 6rem; */
    }

    .concierge::before{
        bottom: 10rem;
    }
    .concierge__content{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 3rem 0rem;
    }
    

    .concierge__title-and-img{
        display: flex;
        flex-direction: column-reverse;
        width: 281rem;
    }

    .concierge__title-box1{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        padding-top: 0;
    }

    .concierge__title3{
        margin-top: 0;
    }

    .textborder{
        border: solid 0.3rem white;
        background-color: rgba(0,0,0,0);
        padding: 1rem;
    }
    .concierge__text-container {
        /* background-color: red; */
        padding: 5rem 5rem;
        /* background: linear-gradient(to bottom, #faf9f5 0%, #edf0f5 60%, #faf9f5 100%); */
        padding-top: 0;
    }

    .concierge__content_photos-container{
        max-width: 100%;
        margin: 0 auto;
    }
    .alishaholdingdress{
        left: 3rem;
        top: 0rem;
    }
    .alishafixeshair{
        bottom: 8rem;
    }
}

