.concierge{
    /* height: 500px; */
    margin-top: 5rem;
    position: relative;
}

.paintSwatch1{
    width: 68%;
    position: absolute;
    top: -3rem;
    left: 4rem;
    z-index: 1;
    transform: rotate(90deg);
}

.concierge__title-box{
    width: 80%;
    position: relative;
    z-index: 3;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0,0,0,0);
    color: #a98b70;
    margin-top: 0rem;
    padding-top: 1.5rem;
    /* margin-bottom: 1rem; */
    font-family: 'Cormorant SC';
}

.concierge__title1{
    background-color: rgba(0,0,0,0);
    font-size: 1rem;
    text-align: left;
    margin-bottom: -1rem;
    
    /* font-family: 'Passions Conflict', cursive; */
    text-align: center;
}
.concierge__title2{
    background-color: rgba(0,0,0,0);
    font-size: 3.5rem;
    /* text-align: left; */
}
.concierge__title3{
    background-color: rgba(0,0,0,0);
    margin-top: -2rem;
    font-size: 3.5rem;
    /* text-align: left; */
}

.ConciergeMainPhoto{
    width: 100%;
    /* padding-top: 3rem; */
    z-index: 5;
}

.concierge__text-container{
    background-color: #edf0f5;
    /* background-color: #f1e8e0; */
    padding: 1rem;
    /* border: .5rem #fcfaf6 solid; */
    text-align: center;
    /* border-radius: 3rem; */
    color: #a98b70;
    font-family: 'Gilda Display', serif;
    /* font-family: 'Cormorant SC'; */
    font-style: normal;
    font-weight: 300;
}
.concierge__text-container > div {
    background-color: #edf0f5;

}

.concierge__text-p1{
    padding: 0rem;
 } 
.concierge__text-p2{
    background-color: #edf0f5;
    padding: 1rem 0rem;
}
.concierge__text-p3, 
.concierge__text-p4, 
.concierge__text-p5, 
.concierge__text-p5,
.concierge__text-p6 {
    padding-bottom: 1rem;
}

@media (min-width: 41.932rem){
    .paintSwatch1{
        width: 40%;
        position: absolute;
        text-align: center;
    }
}