
.home__title{
    text-align: center;
    position: relative; 
}

.home__title-logo{
    height: auto;
    width: 19vh;
    max-width: 350px;
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.home__banner{
    background: url('../assets/AlishaBanner4.jpg') center top / contain no-repeat border-box;
    width: 100%;
    height: 0;
    padding-top: 50%;
}

@media (min-width: 41.932rem){
    .home__title-logo{
        width: 18vh;
    }

    
}

@media (min-width: 76.704rem) {
    .home{
        padding: 0 16.5%;
    }
    .home__title-logo{
        width: 23vh;
    }
    
}