.nav{
    display: flex;
    justify-content: center;
    /* padding: 0 16%; */
    align-self: flex-start;
    position: sticky;
    top: 0;
    height: auto;
}

.nav__item-parent{
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-around;
    padding-top: .3rem;
    position: sticky;
    align-self: flex-start;
}

.nav__item{
    display: flex;
    font-size: 1.5rem;
    font-family: 'Cormorant SC', serif;
}

.nav__divider{
    display: flex;
    /* margin: .5rem; */
    justify-self: space-around;
    align-items: center;
}

.nav__mobile-open{
    display: none;
}

.nav__mobile-closed {
    display: none;
}


.nav__mobile-expand-button{
    display: none;
}

@media (max-width: 45rem) {
    .nav {
        display: none;
    }
    .landing__title-parent{
        display: flex;
        flex-direction: column;
    }
    .landing__title{
        margin-top: 1rem;
        font-size: 30px;
    }
    .landing__subtitle {
        font-size: 15px;
    }
 
}