.nav {
    display: none;
}

.nav__mobile-container{
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    width: 70%;
}

.nav__mobile-expand-button {
    display: inline-block;
    position: fixed;
    margin: 0;
    top: 8rem;
    font-size: 2em;
    color: dimgray;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10;
    width: 100%;
}
.nav__mobile-open {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    /* margin-top: 1rem; */
    width: 100%;
    align-items: left;
    font-size: 2rem;
    /* padding: 1rem; */
    z-index: 9;
    height: 100vh;
    background: left -1rem center / cover no-repeat url(src/assets/AlishaHoldingDressBlackWhiteResize.jpg);
    font-family: 'Cormorant SC', serif;
}

.nav__mobile-open > div{
    padding: 0rem 0rem 1rem 1rem;
    background-color: rgba(0, 0, 0, 0);
}
.nav__mobile-closed {
    display: none;
}


@media (min-width: 41.932rem) {
    .nav{
        display: flex;
        justify-content: center;
        /* padding: 0 16%; */
        align-self: flex-start;
        position: sticky;
        top: 0;
        height: auto;
        margin-left: 1vw;
        max-width: 1280px;
        margin: 0 auto;
        padding-top: 1rem;
    }
    
    .nav__item-parent{
        display: flex;
        flex: auto;
        align-items: center;
        justify-content: space-around;
        padding-top: .3rem;
        position: sticky;
        align-self: flex-start;
    }
    
    .nav__item{
        display: flex;
        font-size: 1.1rem;
        font-family: 'Cormorant SC', serif;
    }

    .nav__item:hover{
        cursor: pointer;
    }
    
    .nav__divider{
        display: flex;
        /* margin: .5rem; */
        justify-self: space-around;
        align-items: center;
    }
    
    .nav__mobile-open{
        display: none;
    }
    
    .nav__mobile-closed {
        display: none;
    }
    
    
    .nav__mobile-expand-button{
        display: none;
    }

    .footer__nav-wrapper{
        max-width: 100%;
        /* background-color: red; */
    }

    .header-wrapper{
        padding-bottom: 3rem;
    }
}

@media (min-width: 76.704rem){
    .nav__item{
        font-size: 1.3rem;
    }
}
